
/* fffffffffffffffffff FONTS TO USE ffffffffffffffffffff*/

/* This changes the font to the 70s theme to both the search by names and records name and the search button*/
.turnToDiscoFont{
  font-family: 'Shrikhand', cursive;
}

/* turns font into the weird 50's font */
.turnToFiftiesFont{
  font-family: 'Risque', cursive;
}

/* turns font into the atomic age font */
.turnToAtomicAgeFont{
  font-family: 'Limelight', cursive;
}




/* fffffffffffffffffff FONTS TO USE ffffffffffffffffffff*/







/* This is the container that holds everything inside the modal */
.formsContainer{
  padding: 0; /* JUST DOING THIS TO STOP VSCODE FROM YELLING AT ME */
}

@media screen and (min-width: 600px) {
  .formsContainer{
    padding: 0; /* JUST DOING THIS TO STOP VSCODE FROM YELLING AT ME */
  }
}



/* $$$$$ ALL FORM ITEMS INSIDE OF AddRecords.jsx  $$$$$ */


/* This is the labels that are above all of the forms */
.labelsForTXTs{
  font-size: 5vw;
  padding-top: 40px;
}

@media screen and (min-width: 600px) {
  .labelsForTXTs{
    font-size: 2vw;
  }
}




/* THIS WILL TARGET THE BUTTON ON THE "Choose File" Button */
input[type="file"]::file-selector-button {
  

  padding: 0 16px;
  height: 40px;

  color: #000;
  background-color: #61dafb;

  border-radius: 5px;
  border: 3px solid #000;


  margin-right: 16px;


    /* Adds the little grow animation on a hover */
    transition-property: all; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
    /* IN :HOVER ADD      transform: scale(1.2); */
}

input[type="file"]::file-selector-button:hover {
  transform: scale(1.1);

  color: #fff;
  background-color: #f06;


  border-radius: 0px;
  border: solid #000 ;
            /* Top - Right - Bottom - Left */
  border-width: 4px 3px 4.5px 2.5px; /* Makes Top and Bottom Borders 4 to make stay same size as left and right  its weird? */


  cursor: cell; /* Makes the cursor the little Cross on hover */
}

/* This will effect the text "No file chosen" to the right of the Choose File Button */
input[type='file'] {
  color: #000;

  /*
  text-shadow:   -0.5px -0.5px 3px #000,
  1px 1px 0px #000,
  1.5px 1.5px 0px #000,
  2px 2px 0 #000,
  2.5px 2.5px 0 #000,
  3px 3px 0px #000,
  3.5px 3.5px 0px #000,
  4.5px 4.5px 0 #000,
  5px 5px 0 #000;
  */
}





/* ADDS BORDERS TO ALL OUR FORMS */
#txtrecordsName{
  border: 2px solid black ;
}

#txtartistsFirstName{
  border: 2px solid black ;
}

#txtartistsLastName{
  border: 2px solid black ;
}

#txtmusicGenre{
  border: 2px solid black ;
}

/* $$$$$ ALL FORM ITEMS INSIDE OF AddRecords.jsx  $$$$$ */





/* This is the button at the bottom that will add a new record once all forms are filled out */
#addNewRecordBTN{
  cursor: cell; /* Makes the cursor the little Cross on hover */

  
  color: #000;
  background-color: #61dafb;


  border-radius: 5px;
  border: 3px solid #000;

  margin-top: 40px;
  margin-bottom: 30px;

  /* Adds the little grow animation on a hover */
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  /* IN :HOVER ADD      transform: scale(1.2); */
}

@media screen and (min-width: 600px) {
  #addNewRecordBTN{
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

#addNewRecordBTN:hover{
  transform: scale(1.02); 

  color: #fff;
  background-color: #f06;

  border-radius: 0px;
  border: 3px solid #000;
}




/*This is the error message that is under the Add Record Button */
.error{
  color: #fff;
  font-size: 3.5vw;

  margin-top: 10px ;


  text-shadow:   -2px -2px 5px #ff0000,
  -1.5px -1.5px 5px #ff0000,
  -1px -1px 0px #ff0000,
  -0.5px -0.5px 5px #ff0000,
  0.5px 0.5px 5px #ff0000,
  1px 1px 0px #ff0000,
  1.5px 1.5px 5px #ff0000,
  2px 2px 5px#ff0000,
  2.5px 2.5px 5px #ff0000;
}

@media screen and (min-width: 600px) {
  .error{
    font-size: 2.3vw;
  }
}