











/*Scamming React and using their spinning logo code on a record*/
.App {
  text-align: center;
}

/* This is the picture of the spinning record */
.RecordSpin {
  height: 47vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .RecordSpin {               /*RECORDS SPEED */
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* *%*%*%*%*%**%*%*%*% IF YOU HAVE A RECORD PLAYER BEHIND RECORD SPIN ADD THIS *%*%*%*%*%*%*%*%*%*% */

/*
.RecordSpin {
  margin-right: 65px;
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .RecordSpin {

    margin-right: 100px;
    margin-top: 30px;
  }
}



.recordPlayer{
  width: 20.5rem;
  height: auto;

  margin-top: 210px;

}

@media screen and (min-width: 600px) {
  .recordPlayer{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;

  }
}



.currentRecordsText{
  padding-top: 50px;
  padding-bottom: 40px;
}

@media screen and (min-width: 600px) {
  .currentRecordsText{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

*/
/* *%*%*%*%*%**%*%*%*% IF YOU HAVE A RECORD PLAYER BEHIND RECORD SPIN ADD THIS *%*%*%*%*%*%*%*%*%*% */







/* ````````````````````````````````````````` MY CSS ```````````````````````````````````````````````` */
/* MY PORTFOLIOS COLORS: #176e82    #e63e23   #f6dbac   #259fa5*/

/* 50's COLORS:  #eaa2c5   #f06   #61dafb  #378d98   #f8332d   #ffd95c  */

/* 70's type text shadow */
/*
  letter-spacing: 10px;
  text-shadow: -2px 2px 0 #292322,
    -4px 4px 0 #f60,
    -6px 6px 0 #292322,
    -8px 8px 0 #fc0;
  text-transform: uppercase; 
*/







/* fffffffffffffffffff FONTS TO USE ffffffffffffffffffff*/

/* This changes the font to the 70s theme to both the search by names and records name and the search button*/
.turnToDiscoFont{
  font-family: 'Shrikhand', cursive;
}

/* turns font into the weird 50's font */
.turnToFiftiesFont{
  font-family: 'Risque', cursive;
}

/* turns font into the atomic age font */
.turnToAtomicAgeFont{
  font-family: 'Limelight', cursive;
}

/* this uses the same atomic age font but adds a crazy neon sign like look */
.turnToAtomicAgeNeonFont{
  font-family: 'Limelight', cursive;
  text-transform: uppercase;

  color: #f8fcfc; 

  text-shadow: 0 -1px 0 #378d98,
    0 2px 0 #378d98,
    0 4px 0 #61dafb,
    -2px -2px 15px #f06,
    2px -2px 15px #f06,
    -2px 2px 15px #f06,
    2px 2px 15px #f06;
}


.add3dTextShadow{
  text-shadow: -1.5px -1.5px 0 #000,
  1px 1px 0 #000,
  2px 2px 0 #eaa2c5,
  3px 3px 0 #f06,
  4px 4px 0 #f06,
  5px 5px 0 #000,   
  6px 6px 0 #f06,
  7px 7px 0 #f06,
  8px 8px 0 #000,
  9px 9px 0 #f06,
  10px 10px 0 #61dafb,
  11px 11px 0 #61dafb,
  12px 12px 0 #000,
  13px 13px 0 #61dafb,
  14px 14px 0 #61dafb,
  15px 15px  0 #000,
  16px 16px 15px #61dafb,
  16px 16px 1px #61dafb,
  0px 0px 15px #61dafb;
  
}



.blackANDwhiteTextShadow{
  color: #fff;



  text-shadow:   -1.5px -1.5px 5px #000,
  1px 1px 0px #000,
  1.5px 1.5px 0px #000,
  2px 2px 0 #000,
  2.5px 2.5px 0 #000,
  3px 3px 0px #000,
  4px 4px 0 #000,
  5px 5px 0 #000;
}
/* fffffffffffffffffff FONTS TO USE ffffffffffffffffffff*/








/* !!!! THIS CHANGES THE SPACING BETWEEN EACH CARD !!!!! */
.containerForCard{
  margin-bottom: 50px;
}

@media screen and (min-width: 600px) {
  .containerForCard{
    margin-bottom: 50px;
  }  
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! NAV BAR !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* NAV BARS BACKGROUND IMAGE IS IN App.jsx cause idk how to do it in css in react??? */
/* style={{ backgroundImage: `url(${process.env.PUBLIC_URL + 'pictures/backgrounds/fifties/black-checkerboard.png'})`}} */


/* ADDS BACKGROUND IMAGE TO NAVBAR */
.checkeredBackgroundPic{
  background-image: url("./pictures/backgrounds/fifties/checkered/checkered_floor_sliding.gif");


  background-size: cover;
  background-position: center;
}

.container{
  padding-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .container{
    padding-bottom: 0;
  }
}

/* This changes the top text says "My Records" in the nav*/
.navbar-brand h1{
  text-transform: uppercase;
  font-weight: 900;

  /*  Adds a stroke around the letters
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: black;
  */

  padding: 10px;
  line-height: 1;

  font-size: 7vw;

  padding-left: 35px;
  padding-bottom: 30px;

  
  color: #eaa2c5; 

  /* filter: blur(0.2px) contrast(1); */ /* This blurs and gives contrast to the text a little */
}

@media screen and (min-width: 600px) {
  /* makes the shadow bigger to fit the bigger font */
  .navbar-brand h1{
    font-size: 3.5vw;

    padding-top: 5px;
    padding-bottom: 5px;
    
  }
}






/* THIS TARGETS THE PLACEHOLDER TEXT IN (  ANY  ) INPUT TEXT BOX EVEN THOSE IN AddRecord Modal */
input[type="text"]::-webkit-input-placeholder {
  color: #f06;
}
/* THIS TARGETS THE PLACEHOLDER TEXT IN (  ANY  ) INPUT TEXT BOX EVEN THOSE IN AddRecord Modal */







/* This is the text box that says Enter a First or Last Name that has the button attached */
#enterNameTXT{
  font-size: 2.15vw;


  /*
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 0;
  */
}

@media screen and (min-width: 600px) {
  #enterNameTXT{
    font-size: 1.3vw;
  }
}






/* This is the button in the navbar that says Search Name */
#searchNameBTN{
  background-color: #61dafb;
  color: #f06;


  font-size: 2.15vw; /* Whatever font size for  #enterNameTXT   is must change it here as well to ensure button is same size */

  /* Adds the little grow animation on a hover */
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  /* IN :HOVER ADD      transform: scale(1.2); */
}

@media screen and (min-width: 600px) {
  #searchNameBTN{
    font-size: 1.3vw;
  }
}

#searchNameBTN:hover, #searchNameBTN:focus{
  background-color: #f06;
  color: #61dafb;
  transform: scale(1.2);

  font-size: 2.50vw;
}

@media screen and (min-width: 600px) {
  #searchNameBTN:hover, #searchNameBTN:focus{
    font-size: 1.4vw;
  }  
}



/* This is the Dropdown for searching for records by album name*/
#searchByRecordName{
  font-size: 2.15vw;

  color: #f06;


  /* -webkit-text-stroke: 1px black; */ /* Adds stroke to the outside of letters on hover  */
}
@media screen and (min-width: 600px) {
  #searchByRecordName{
    font-size: 1.3vw;
  }
}

/* This is our options to choose from under the drop down */
select>option{
  color: #000;

}




/* xxxxxxxxxxxxxxxxxxxxxxxx ERROR MESSAGE THAT SAYS "Please Enter a Correct Name" FOR  SEARCH TEXT BOX xxxxxxxxxxxxxxxxxxxxx*/


.errorTextShadow{
  padding: 0; /* JUST DOING THIS TO STOP VSCODE FROM YELLING AT ME */
}


/* This is the error that will show up in the navbar */
.errorNAV{
  font-size: 2.3vw;

  color: #fff;

text-shadow: -1px -1px 5px #ff0000,
            -0.5px -0.5px 5px #ff0000,
            0.5px 0.5px 5px #ff0000,
            1px 1px 0px #ff0000,
            1.5px 1.5px 5px #ff0000,
            2px 2px 5px #ff0000,
            2.5px 2.5px 5px #ff0000;

  padding: 5px;
  margin-top: 15px;
}

@media screen and (min-width: 600px) {
  .errorNAV{
    font-size: 1.3vw;
  }
  
}


/* This is the error that is huge and will appear under the Nav*/
.errorBIG{
  font-size: 5.5vw;

  color: #fff;

  text-shadow:   -2px -2px 5px #ff0000,
            -1.5px -1.5px 5px #ff0000,
            -1px -1px 0px #ff0000,
            -0.5px -0.5px 5px #ff0000,
            0.5px 0.5px 5px #ff0000,
            1px 1px 0px #ff0000,
            1.5px 1.5px 5px #ff0000,
            2px 2px 5px#ff0000,
            2.5px 2.5px 5px #ff0000;


  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 600px) {
  .errorBIG{
    padding-top: 50px;
    
    padding-bottom: 10px;
  }
}

/* xxxxxxxxxxxxxxxxxxxxxxxx ERROR MESSAGE THAT SAYS "Please Enter a Correct Name" FOR  SEARCH TEXT BOX xxxxxxxxxxxxxxxxxxxxx*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! NAV BAR !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */









/* This is the Giant Current Records Text */
.currentRecordsText{
  text-transform: uppercase;
  font-weight: 400;
  margin:  1rem 0;

  filter: blur(0.3px);  /* contrast(1.1); */ /* This blurs and gives contrast to the text a little */

  color: #f8fcfc; 

  text-shadow: 0 1.5px 0 #000,
    0 2px 0 #61dafb, 
    0 4px 0 #61dafb,
    -2px -5px 10px #f06,
    5px -2px 10px #f06,
    -2px 2px 15px #f06,
    2px 2px 15px #000; 

  /* IF I HAVE JUST THE SPINNING RECORD ADD THIS CODE INSTEAD */
/* 
  padding-top: 20px;
  padding-bottom: 2px;
*/

  padding-top: 20px;
  padding-bottom: 2px;
  letter-spacing: 3px;

  font-size: 8vw;
  
}

@media screen and (min-width: 600px) {
  .currentRecordsText{
  /* IF I HAVE JUST THE SPINNING RECORD ADD THIS CODE INSTEAD */
  /*
    padding-top: 60px;
    padding-bottom: 30px;
  */

    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 6vw;


  }
}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% ANIMATIONS %%%%%%%%%%%%%%%%%%%%%%%%%% */


/* this is the flicker animation that i put to be on some of the letters */
.flickerAnimationSHORT{
  animation: flicker 2.8s infinite alternate;
}
/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 1.5px 0 #000,
      0 2px 0 #61dafb, 
      0 4px 0 #61dafb,
      -2px -5px 10px #f06,
      5px -2px 10px #f06,
      -2px 2px 15px #f06,
      2px 2px 15px #000; 
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}





.flickerAnimationLONG{
  animation: flicker 3.0s infinite alternate;
}
/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 1.5px 0 #000,
      0 2px 0 #61dafb, 
      0 4px 0 #61dafb,
      -2px -5px 10px #f06,
      5px -2px 10px #f06,
      -2px 2px 15px #f06,
      2px 2px 15px #000; 
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


/* THIS WILL BE ADDED TO ANY LETTER YOU WANT TO SWING UPSIDE DOWN AS IF IT IS BROKE */
.brokenLetter {
  /* ROTATES THE LETTER 
  display: inline-block;
  transform: rotate(8deg);
  */

  display: inline-block;


  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center 96px; /* The  */
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */
}
@keyframes swing {
  0% { transform: rotate(-172deg);}
  100% { transform: rotate(-185deg); }
}

/* ON SMALL SCREENS */
@media only screen and (min-width:500px){
  .brokenLetter {
    transform-origin: center 35px; /* The  */
  }
}


/* ON BIG SCREENS */
@media only screen and (min-width:1200px){
  .brokenLetter {
    transform-origin: center 65px; /* The  */
  }
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% ANIMATIONS %%%%%%%%%%%%%%%%%%%%%%%%%% */













/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ANCHOR LINKS TO TOP AND BOTTOM @@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



/* This is the classes for both the top and bottom anchors  */
.anchor_link_TOP, .anchor_links_BOTTOM{
  font-size: 2.8vw;

  

  /* font-family: 'Shrikhand', cursive; */
}

@media screen and (min-width: 600px) {
  .anchor_link_TOP, .anchor_links_BOTTOM{

    font-size: 1.3vw;
  }
}



/* This is the TOP anchor "Down To Bottom"*/
.anchor_link_TOP{
  margin-top: 100px;
  margin-bottom: 25px;
}

@media screen and (min-width: 600px) {
  .anchor_link_TOP{
    margin-top: 100px;
    margin-bottom: 25px;
  }
}


/* This is the BOTTOM anchor "Back To Top"*/
.anchor_links_BOTTOM{
  margin-bottom: 70px;
}

@media screen and (min-width: 600px) {
  .anchor_links_BOTTOM{
    margin-top: 50px;
    margin-bottom: 80px;
  }
}


/* This is the actual link text so we made it black and took off the underline*/
.anchor_link{
  color: black;
  text-decoration: none;

  /* On a hover/focus  the text will ease into the color #037298*/
  transition: color 0.5s ease-out 10ms;
  


}

.anchor_link:hover, .anchor_link:focus{
  color: #61dafb;
  text-decoration: none;

  -webkit-text-stroke: 1px black; /* Adds stroke to the outside of letters on hover  */


  transform: scale(1.2);
}




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ANCHOR LINKS TO TOP AND BOTTOM @@@@@@@@@@@@@@@@@@@@@@@@@@@@*/










/* ####################################### MODAL TO ADD NEW RECORD ################################### */
/*  */



/* !!!!!!!!!!! THIS IS THE MODEL BUTTON TO CLICK INTO ADD RECORD !!!!!!!!!!*/
/* This is the actual button always fixed to the bottom of the screen that allows users to add new Record */
#modal-button{
  cursor: cell; /* Makes the cursor the little Cross on hover */





  font-size: 15px;

  color: #fff;
  background-color: #61dafb;

  border-radius: 5px;
  border: 3px solid black;


    /* Sets the button off the wall of screen */
    margin-right: 13px;
    margin-bottom: 5px;


  /* Adds the little grow animation on a hover */
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  /* IN :HOVER ADD      transform: scale(1.2); */
}


#modal-button:hover, #modal-button:focus{
  transform: scale(1.08); 
  color: #fff;

  border-radius: 0px;
  background-color: #f06;
}


@media screen and (min-width: 600px) {
  #modal-button{

    font-size: 25px;

    /* Sets the button off the wall of screen */
    margin-right: 30px;
    margin-bottom: 10px;
  }
}







/* The div that holds the add feature*/
.modal-container{
  /* font-family: 'Shrikhand', cursive; */ 
  color: #fff;

  padding-bottom: 10px;
}
/* !!!!!!!!!!! THIS IS THE MODEL BUTTON TO CLICK INTO ADD RECORD !!!!!!!!!!*/






/* !!!!!!!!!!! CONTENT INSIDE THE MODEL ONCE CLICKED !!!!!!!!!!*/


/* ONCE MODAL IS CLICKED WILL BLUR THE BACKGROUND  !!! STUFF BEHIND THE CONTENT IN MODAL*/ 
.modal{
  backdrop-filter: blur(3px);

  padding-left: 15px; /* CENTERS MODAL ON SCREEN */

  /* THIS WILL CHANGE THE WHOLE BACKGROUND BEHIND MODAL INTO THIS PIC*/
  background-image: url("./pictures/backgrounds/fifties/checkered/checkered_floor_sliding_up.gif");
  background-size: cover;
  background-position: center;
  
}





/* `````````` MODAL HEADER `````````*/
/* This is the modal header that holds the title and the need help text */
.modal-header{
    background-image: url("./pictures/backgrounds/fifties/checkered/checkered_floor_sliding_up.gif");
    background-size: cover;
    background-position: center;
}



/* This is the title inside the modal that says "Add Any Record You Want!" */
.modal-title{
  font-size: 4.5vw;


  color: #eaa2c5;
}

@media screen and (min-width: 600px) {
  .modal-title{
    font-size: 3vw;
  }
}


/* This is the Need Help Finding a Record? text in the modal-header */
.needHelpFinding{
  color: #fff;

  text-shadow:   -0.5px -0.5px 5px #000,
  1px 1px 0px #000,
  1.5px 1.5px 0px #000,
  2px 2px 0 #000,
  2.5px 2.5px 0 #000,
  3px 3px 0px #000,
  3.5px 3.5px 0px #000,
  4.5px 4.5px 0 #000,
  5px 5px 0 #000;


  font-size: 2vw;

  padding-left: 35px;
  padding-top: 5px;

  text-decoration: none;


  /* Adds the little grow animation on a hover */
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  /* IN :HOVER ADD      transform: scale(1.2); */
}

@media screen and (min-width: 600px) {
  .needHelpFinding{
    font-size: 1.2vw;
    padding-left: 100px;
  }
}

.needHelpFinding:hover{
  color: #fff;   /* change this to whatever the color set to the text is IF NOT IT WILL BE BLUE DUE TO <a href=""> */
  transform: scale(1.1);
  text-decoration: none;
}


/* This is the small X in the corner of the header that closes modal */
.xCloseBTN{

  color: #f06;

  font-size: 6vw;

    /* Adds the little grow animation on a hover */
    transition-property: all; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
    /* IN :HOVER ADD      transform: scale(1.2); */
}

.xCloseBTN:hover{
  transform: scale(1.2); 
  color: #f06;
}

@media screen and (min-width: 600px) {
  .xCloseBTN{
    font-size: 4vw;
  }
}



/* `````````` MODAL HEADER `````````*/






/* `````` Actual Content under header ```````*/

/* This is the header that says "Add New Record Heading" */
.addRecordText{
  font-size: 7vw;
  padding-top: 60px;


  text-shadow: 0 1.5px 0 #000,
  0 2px 0 #61dafb, 
  0 4px 0 #61dafb,
  -2px -5px 10px #f06,
  5px -2px 10px #f06,
  -2px 2px 15px #f06,
  2px 2px 15px #000; 

  backdrop-filter: blur(0.3px);
  letter-spacing: 3px;
}

@media screen and (min-width: 600px) {
  .addRecordText{
    font-size: 4vw;
    padding-top: 60px;
  }
}


/* This is the text under the "Add New Record Heading" */
.addingDirections{
  color: #fff;
  font-size: 2.3vw;


}
@media screen and (min-width: 600px) {
  .addingDirections{
    font-size: 1.5vw;
  }
}

/* `````` Actual Content under header ```````*/





/* This is the button at the bottom of the modal that will close the modal */
#closeModalBTN{
  margin: 0;

  background-color: #f06;
  color: #fff;

  border-radius: 5px;
  border: solid #000 ;

  /* Adds the little grow animation on a hover */
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  /* IN :HOVER ADD      transform: scale(1.2); */
}

#closeModalBTN:hover{
  transform: scale(1.2);

  background-color: #61dafb;
  color: #fff;
  
  border-radius: 0px;
  border: solid #000 ;
}
/* !!!!!!!!!!! CONTENT INSIDE THE MODEL ONCE CLICKED !!!!!!!!!!*/


/* ####################################### MODAL TO ADD NEW RECORD ################################### */













